body{
    background: #631FF2;
}
.cabecalho{
    width: 100%;
    height: 20%;
    background-color: rgb(124, 47, 124);
}
h1{
    font-family: 'Questrial', sans-serif;
    background-color: #1FA7F2;
}
p{
    font-family: 'Questrial', sans-serif; 
}
img{
    width: 200px;
    height: 200px;
}