:root{ /*definir cores (ex.: --cor-corpo: 000000 (pra usar tem que colocar "var())*/
    --cor-moni: #1FA7F2;
    --cor-cleiton: rgb(73, 221, 73);
    --cor-bola: black;
    --cor-mesa: rgb(51, 51, 221);
}
* { /* *significa TUDO*/
    margin: 0;
    padding: 0;
}
body{
    background: #7d54d6;
    padding: 0;
    margin: 0;
}
.cabecalho{ 
    width: 100%;
    height: 20%;
    background-color: rgb(124, 47, 124);
}
.moni{
    background-color: var(--cor-moni);
    display: flex;
    align-items: center;
}
h1{
    font-family: 'Tilt Prism';
    background-color: #1FA7F2;
    text-align: center;
}
h3{
    font-family: 'Questrial', sans-serif; 
    margin: 20px;
}
p{
    font-family: 'Questrial', sans-serif; 
    text-align: justify;
    margin: 20px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    padding: 10px;
    margin: 5px;
}
button{
    margin: 20px;
    border-radius: 10%;
    color: #14A3FC;
}
.dante{
    display: flex;
    justify-content: center;
}






.mesa{
    background-color: var(--cor-mesa);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.face{
    background-color: var(--cor-cleiton);
    height: 120px;
    width: 120px;
}
.face_um{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.face_dois{
    height: 50%;
}
.face_dois_um{
    display: flex;
    justify-content: end;
}
.face_dois_dois{
    display: flex;
    align-items: end;
    height: 100%;
}

.face_tres{
    height: 50%;
}
.face_tres_um{
    display: flex;
    justify-content: end;
}
.face_tres_dois{
    display: flex;
    align-items: end;
    height: 100%;
}
.face_tres_tres{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.bolinha{
    height: 20px;
    width: 20px;
    background-color: var(--cor-bola);
    border-radius: 50%;
    margin: 8px;
}
