body{
    background: #631FF2;
    padding: 0;
    margin: 0;
}
.cabecalho{
    width: 100%;
    height: 20%;
    background-color: rgb(124, 47, 124);
}
h1{
    font-family: 'Tilt Prism';
    background-color: #1FA7F2;
    text-align: center;
}
h3{
    font-family: 'Questrial', sans-serif; 
    margin: 20px;
}
p{
    font-family: 'Questrial', sans-serif; 
    text-align: justify;
    margin: 20px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    padding: 10px;
    margin: 5px;
}